{% verbatim %}
    <ul class="main-list">
        {{#each this}}
        <li><h3><a href="#" data-url="{{uri}}" class="action-answer">{{title}}</a></h3></li>
        {{/each}}
    </ul>
{% endverbatim %}

