{% verbatim %}

<div class="page-header">
    <h1>{{title}}</h1>
</div>
<div class="pull-right">{{timestamp}}</div>
<h4>Description:</h4>
<p>{{content}}</p>

<div class="main-list">
    {{#if files.length}}
        <h4>Files:</h4>
    {{/if}}
    <ul class="main-list">
        {{#each files}}
            <li><a href="/file/{{id}}">{{name}}</a></li>
        {{/each}}
    </ul>
</div>
<div class="page-header">
    <h2>Comments:</h2>
    <div class="pull-right"><a href="#" id="action-create-comment" class="inline-action" data-answer="{{id}}">add comment</a></div>
</div>
{{#unless comments.length}}
    <p id="no-comments">No comments.</p>
{{/unless}}
<div class="answer-comments">
    {{#each comments}}

    {{/each}}
</div>

{% endverbatim %}