{% verbatim %}

<div class="answer-comment">

    <p>{{content}}</p>
    {{#if files.length}}
        <h4>Files:</h4>
    {{/if}}
    <ul class="main-list">
        {{#each files}}
            <li><a href="/file/{{id}}">{{name}}</a></li>
        {{/each}}
    </ul>
    <div class="pull-right">{{timestamp}}</div>
</div>

{% endverbatim %}