{% extends 'base.html.twig' %}



{% block body %}

    <div class="container">

        <div class="page-header" id="search-container">
            <form class="navbar-form" role="search">
                <div class="input-group add-on">
                    <input type="text" class="form-control typeahead" placeholder="Ask a question" name="search-term"
                           id="search-term" data-provide="typeahead">

                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <div class="row actions">
            <div class="pull-right">
                <a href="#" id="action-show-all">Show all</a>
                <a href="#" id="action-create-new" data-toggle="modal" data-target="#create-new">Create new</a>
            </div>
        </div>

        <section id="section-main">
            <div class="row">
                <div class="col-md-6">
                    <div class="heading">Most recent answers</div>
                    <div id="content-most-recent">

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="heading">Most searched questions</div>
                    <div id="content-most-searched">

                    </div>
                </div>
            </div>
        </section>

        <section id="section-answers" style="display: none">
            <div id="content-answers">

            </div>
        </section>

        <section id="section-answer" style="display: none">
            <div id="content-answer">

            </div>
        </section>

    </div>

{% endblock %}