<div class="modal fade" id="create-new">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">New answer</h4>
            </div>
            <div class="modal-body">
                <form action="#" id="create-new-form" name="create-new-form">
                    <div class="form-group">
                        <input type="text" class="form-control" id="create-new-title" name="title" placeholder="Title">
                        <span class="help-block" style="display: none"></span>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" id="create-new-content" rows="5" name="content" placeholder="Content"></textarea>
                        <span class="help-block" style="display: none"></span>
                    </div>
                </form>
                <form action="/file-upload"
                      class="dropzone"
                      id="create-new-dropzone"></form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary buttonSave">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="after-new">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="btn btn-primary" id="after-new-create">Create new</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn bg-success" id="after-new-show">Show answer</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="create-comment">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Create comment</h4>
            </div>
            <div class="modal-body">
                <form action="#" id="create-comment-form" name="create-comment-form">
                    <div class="form-group">
                        <textarea class="form-control" id="create-comment-content" rows="5" name="content" placeholder="write your comment"></textarea>
                        <input type="hidden" name="answer" id="create-comment-answer" value="0" />
                        <span class="help-block" style="display: none"></span>
                    </div>
                </form>
                <form action="/file-upload"
                      class="dropzone"
                      id="create-comment-dropzone"></form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary buttonSave">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->