<script id="template-most-recent" type="text/x-handlebars-template">
    {{ include('default/templates/main-list.hbs') }}
</script>

<script id="template-most-searched" type="text/x-handlebars-template">
    {{ include('default/templates/main-list.hbs') }}
</script>

<script id="template-answer" type="text/x-handlebars-template">
    {{ include('default/templates/answer.hbs') }}
</script>

<script id="template-comment" type="text/x-handlebars-template">
    {{ include('default/templates/comment.hbs') }}
</script>

<script id="template-answers" type="text/x-handlebars-template">
    {{ include('default/templates/answers.hbs') }}
</script>