body, h1, h2, h3, h4 {
    font-family: 'Architects Daughter', cursive;
}

#search-container .form-control, #search-container button, .typeahead.dropdown-menu {
    height: auto;
    font-size: 2.5em;
}

.typeahead.dropdown-menu {
    width: 100%;
}

.actions a {
    padding: 1em;
}

.typeahead {
    z-index: 1051;
}

ul.main-list {
    margin: 0;
    padding: 0;
}

ul.main-list li {
    margin: 0;
    list-style: none;
    padding: 0;
}

.heading {
    font-size: 1.2em;
    line-height: 2em;
    font-weight: bold;
}

.dropzone {
    min-height: 150px;
    border: 1px dashed darkgray;
}

.dz-error-message, .dz-success-mark, .dz-error-mark {
    display: none;
}

.answer-comments {
    font-size: 0.9em;
}

.answer-comment {
    padding-bottom: 2em;
}

.answer-comment:hover {
    background-color: lightgray;
}

.inline-action {
    position: relative;
    top: -1em;
}

.answer-comments .answer-comment:not(:first-child) {
    border-top: 1px dotted darkgray;
}